dart_defines.env
# lib/core/services/firebase_config.dart  <-- Commented out to allow committing for secret bypass
# google-services.json                    <-- Commented out to allow committing for secret bypass
